<% provide(:title, "About") %>
<%= render 'layouts/header' %>
    <h2 id="page-title">About Tutor 4 Me</h2>
    <p>Tutor 4 Me is an application that is an extension of Tutoring 4 Change, where it allows students and parents to seek for one of our qualified tutors. </p>