<% provide(:title, "Help") %>
<%= render 'layouts/header' %>
    <h2 id="page-title">Help</h2>
    <h3>For clients: </h3>
    <p>If you don't have an account yet, please <%= link_to "create an account", signup_path %> first.</p>
  </body>
</html>