/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  margin: 0 auto;

}

 div {
 	margin: 0 auto;
 }

 h1,h2,h3,h4,h5,h6 {
 	padding: 20px;
 	margin: 0 auto;
 	margin-bottom: 10px;
 }

 p {
 	margin: 0px 20px 0px 20px;
 }

 #page-title {
 	background: #f2f2f2;
 	color: #09AA4B;
 }

input[type="button"], input[type="submit"], button {
	border-style: none;
    background-color: #09AA4B;;
    padding: 10px;
    color: #fff;
    font-size: 1em;,
    border-radius: 3px;
}

button a {
	text-decoration: none;
	color: #fff;
}

button {
	margin-top: 10px;
}

#error_explanation {
	color: red;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
    

.alert-danger {
	color: red;
}

.alert-success {
	color: green;
}

.name {
	text-transform: capitalize;
	display: initial;
}

.login-name {
	text-align: right;
}