@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #333;
$green: #09AA4B;
$borderRadius: 5px;

body {
	color: $primary-color;
	margin: 0 auto;
	font-size: 14px !important;
	background: #ffffff image-url('school.png') repeat;
	background-repeat: repeat;
}

.container {
	background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    margin-top: 15px;
    border-radius: $borderRadius;
}

section {
	margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid darkolivegreen;
}

.bg-primary {
	background-color: $green;
}

a:hover, a:focus {
	text-decoration: none;
	color: $green;
}

div {
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 auto;
	margin-bottom: 10px;
}

nav {
	background-color: $green;
	height: 70px;
}

.navbar {
	margin-bottom: 0px;
}

#logo {
	float: left;
	margin: 1%;
	margin-bottom: 10px; 
	color: #fff;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
  	top: 15%;
}

.nav > li > a {
	font-size: 1.1em;
}

.row {
	display: flex;
}

#page-title {
 	background: rgba(255, 255, 255, 0.9);
 	color: #09AA4B;
 	padding: 15px;
}

/*label {
	display: flex;
}*/

form {
	width: 45%;
	margin: 0 auto;
}

.small-form {
	margin: initial;
}

textarea {
	width: 15%;
	padding: 10px;
	min-height: 50px;
}

button a {
	text-decoration: none;
	color: #fff;
}

button {
	margin-top: 10px;
}

.btn-primary {
	background-color: $green;
    border-color: $green;
}

.btn-primary:hover {
	border-color: $green;
	background-color: #fff;
	color: $green;
}

#error_explanation {
	color: red;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}

.name {
	text-transform: capitalize;
	display: initial;
}

.login-name {
	text-align: right;
}

.card-title {
	margin-bottom: 0px;
}

.card-subtitle {
	margin-bottom: 5px;
}

.card-link {
	margin-right: 5%;
}